include AUTHORS CHANGES README.md LICENCE
recursive-include edc_sync_files/templates *
recursive-include edc_sync_files/static *
recursive-include docs *
recursive-exclude edc_example/*
recursive-exclude etc/*
