include AUTHORS CHANGES LICENSE VERSION
include MANIFEST.in
include *.rst
include *.txt
recursive-include django_collect_offline_files/templates *
recursive-include django_collect_offline_files/static *
