.
git+https://github.com/clinicedc/edc-base@develop#egg=edc-base
git+https://github.com/erikvw/django-crypto-fields.git@develop#egg=django_crypto_fields
git+https://github.com/erikvw/django-revision.git@develop#egg=django_revision
git+https://github.com/erikvw/django-collect-offline@develop#egg=django-collect-offline
git+https://github.com/clinicedc/edc-protocol.git@develop#egg=edc_protocol
git+https://github.com/clinicedc/edc-device.git@develop#egg=edc_device
git+https://github.com/clinicedc/edc-constants.git@develop#egg=edc_constants
git+https://github.com/clinicedc/edc-identifier.git@develop#egg=edc_identifier
git+https://github.com/clinicedc/edc-model-fields@develop#edc-model-fields

